@import '../../../scss/colors.scss';

.board {
  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
    position: relative;
  }

  &__title {
    flex: 1 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__title-text {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__title-input {
    width: fit-content;
    position: absolute;
    top: -1px;
    opacity: 1;
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
    opacity: 0;
    z-index: -1;

    &--is-edit {
      opacity: 1;
      z-index: 1;
    }
  }

  &__share {
    background-color: $buttonShareAndOutlineColor;
    height: 32px;
    padding: 0 12px;
    border-radius: 3px;
    color: white;
  }

  &__menu {
    width: 30px;
    height: 30px;
    padding: 0 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s;
    border-radius: 3px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.add-principant {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
  width: 250px;
  height: 100px;
  border-radius: 3px;
  border: 1px solid $borderColumnMenuColor;
  background-color: #fff;
  padding: 5px;

  &__input {
    width: 100%;
    margin: 0 0 10px 0;
    height: 32px;
    outline: none;
    border: 1px solid $borderColumnMenuColor;
    border-radius: 3px;
    padding: 0 5px;
  }

  &__add-btn,
  &__cancel-btn {
    height: 32px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: $buttonShareAndOutlineColor;
    color: white;
  }
  &__add-btn {
    margin: 0 10px 0 10px;
  }
  &__cancel-btn {
  }
}
