@import '../../scss/base/mixins.scss';

.user-profile-icon {
  display: flex;
  gap: rem(10);
  align-items: center;

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 50%;
    border: rem(1) #fff solid;
  }
}
