@import '../../scss/base/mixins.scss';
@import '../../scss/vars.scss';

.sign-up {
  padding-top: rem(60);
  background-color: #f9fafc;

  @media (max-width: $mobile) {
    background-color: #fff;
  }
}
