@import '../../scss/base/mixins.scss';

.workspaces {
  padding-top: rem(60);
  background-color: #fafbfc;

  &__title {
    font-size: rem(20);
    font-weight: 700;
    color: #5e6c84;
    margin: rem(20) 0;
    text-transform: uppercase;
  }
}
