@import '../../scss/base/mixins.scss';

.profile-form {
  padding-bottom: rem(40);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(17);

    margin: 0 auto;
    max-width: rem(400);
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(10);
    @include adaptiveValue('font-size', 32, 25);
    line-height: 1.1875;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
  }

  &__separator {
    width: 100%;
    background-color: #dfe1e6;
    height: rem(2);
  }
}
