.card {
    // position: absolute;
    padding: 15px;
    top: 50px;
    left: 50%;
    // transform: translateX(-50%);
    max-width: 780px;
    min-height: 400px;
    width: 90vw;
    color: #172b4d;
    background-color: #f4f5f7;
    border-radius: 2px;

    &__title {
        position: relative;
        margin-left: 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        flex-basis: 74%;
    }

    &__aside {
        flex-basis: 22%;

        h3 {
            text-align: left;
            padding: 10px 0;
            color: #5e6c84;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__title-input {
        position: relative;
        left: -4px;
        height: 33px;
        padding: 6px 4px;
        width: 100%;
        outline: 0;
        font-size: 20px;
        font-weight: 500;
        color: #172b4d;
        line-height: 24px;
        background-color: transparent;

        &:focus {
            background-color: #fff;
            border-radius: 3px;
            border: 2px solid #0079bf;
        }
    }

    &__title-column {
        margin-top: 2px;
        font-size: 14px;
        font-weight: 400;

        span {
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__icon {
        position: absolute;
        left: -40px;
        top: 5px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;

        &--title {
            background-image: url('../../../public/assets/icon/card-title.svg');
        }

        &--descr {
            background-image: url('../../../public/assets/icon/card-description.svg');
            top: 2px;
        }

        &--checklist {
            background-image: url('./icons/check-big.svg');
        }
    }

    &__participants {
        margin-left: 40px;
        margin-top: 30px;

        h3 {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__participants-list {
        margin-top: 8px;
        display: flex;
        gap: 5px;
    }

    &__participants-add {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #eaecf0;
        cursor: pointer;

        &::after {
            content: url('../../../public/assets/icon/plus.svg');
            position: absolute;
            left: 50%;
            top: 52%;
            transform: translate(-50%, -50%);
        }
    }

    &__description {
        font-weight: 500;
        margin-top: 30px;
        position: relative;
        margin-left: 40px;

        h3 {
            padding: 6px 0;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__description-header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__description-button {
        margin-top: 15px;
        background-color: #eaecf0;
        border: none;
        border-radius: 3px;
        display: block;
        width: 100%;
        min-height: 40px;
        padding: 8px 8px 25px 8px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        &:hover {
            background-color: #091e4214;
        }
    }

    &__description-textarea {
        display: block;
        margin-top: 15px;
        padding: 10px;
        color: #172b4d;

        &:focus {
            outline: none;
            border-radius: 3px;
            border: 2px solid #0079bf;
        }
    }

    &__description-btn-wrapper {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    &__description-btn {
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 12px;


        &--save {
            background-color: #0079bf;
            color: #fff;

            &:hover {
                background-color: #026aa7;
            }
        }

        &--cancel {

            &:hover {
                background-color: #091e4214;
            }
        }

        &--edit {
            background-color: #eaecf0;

            &:hover {
                background-color: #091e4214;
            }
        }
    }

    &__board-participants-modal {
        position: fixed;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }

    &__aside-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__aside-btn {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        background-color: #eaecf0;
        padding: 8px 12px;
        width: 90%;
        text-align: left;
        margin-bottom: 5px;
        border-radius: 3px;

        &:hover {
            background-color: #e2e4e9;
        }
    }

    &__aside-btn-ico {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat
    }

    &__checklist-modal {
        position: fixed;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        width: 300px;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #172b4d;

        h3 {
            text-align: center;
            padding: 5px 0 10px 0;
        }

        p {
            margin-bottom: 5px;
        }

    }

    &__checklist-modal-input {
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        border: 2px solid #0079bf;
        padding: 6px 4px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
        }
    }

    &__modal-close {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background-image: url('../../../public/assets/icon/close.svg');
    }
}

.checklist {
    font-size: 14px;
    font-weight: 400;
    color: #172b4d;
    margin-left: 40px;
    margin-top: 30px;

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__title {
        position: relative;
        left: -12px;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 12px;
        background-color: transparent;
        outline: none;

        &:focus {
            width: 80%;
            background-color: #fff;
            padding: 6px 4px;
            border-radius: 3px;
            border: 2px solid #0079bf;
            left: 0;
        }
    }

    &__btn {
        background-color: #eaecf0;
        padding: 8px 12px;

        &--delete {
            background-color: transparent;
            background-image: url('./icons/delete.svg');
            background-repeat: no-repeat;
            padding: 0;
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: #e2e4e9;
        }
    }

    &__items {
        margin-top: 15px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 15px;
        }
    }

    &__item-title {
        &--checked {
            text-decoration: line-through;
        }
    }

    &__item-wrapper {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    &__checkbox {
        border-radius: 2px;
        background-color: #fafbfc;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    &__item-add-form-input {
        width: 100%;
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 3px;
        border: 2px solid #0079bf;

        &:focus {
            outline: none;
        }
    }

    &__item-add-form-wrapper {
        display: flex;
        margin-top: 15px;
        gap: 15px;
    }

    &__progress {
        position: relative;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: #e2e4e9;
    }

    &__progress-line {
        top: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 8px;
        border-radius: 4px;
        background-color: #0075ff;
        transition: all 0.4s ease;
    }

    &__progress-percent {
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        left: -38px;
        top: -2px;
    }

}