.card {
    position: relative;
    padding: 15px;
    max-width: 780px;
    min-height: 400px;
    width: 90vw;
    color: #172b4d;
    background-color: #f4f5f7;
    border-radius: 2px;

    &__title {
        position: relative;
        margin-left: 40px;
        width: 90%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        flex-basis: 74%;
    }

    &__aside {
        flex-basis: 22%;

        h3 {
            text-align: left;
            padding: 10px 0;
            color: #5e6c84;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__title-input {
        position: relative;
        left: -4px;
        height: 33px;
        padding: 6px 4px;
        width: 100%;
        outline: 0;
        font-size: 20px;
        font-weight: 500;
        color: #172b4d;
        line-height: 24px;
        background-color: transparent;

        &:focus {
            background-color: #fff;
            border-radius: 3px;
            border: 2px solid #0079bf;
        }
    }

    &__title-column {
        margin-top: 2px;
        font-size: 14px;
        font-weight: 400;

        span {
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__icon {
        position: absolute;
        left: -40px;
        top: 5px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;

        &--title {
            background-image: url('../../../public/assets/icon/card-title.svg');
        }

        &--descr {
            background-image: url('../../../public/assets/icon/card-description.svg');
            top: 2px;
        }

        &--checklist {
            background-image: url('./icons/check-big.svg');
        }

        &--attach {
            background-image: url('./icons/attach-big.svg');
            top: 0;
        }
    }

    &__participants {
        margin-left: 40px;
        margin-top: 30px;

        h3 {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__participants-list {
        margin-top: 8px;
        display: flex;
        gap: 5px;
    }

    &__participants-add {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #eaecf0;
        cursor: pointer;

        &::after {
            content: url('../../../public/assets/icon/plus.svg');
            position: absolute;
            left: 50%;
            top: 52%;
            transform: translate(-50%, -50%);
        }
    }

    &__description {
        font-weight: 500;
        margin-top: 30px;
        position: relative;
        margin-left: 40px;

        h3 {
            padding: 6px 0;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__description-header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__description-button {
        margin-top: 15px;
        background-color: #eaecf0;
        border: none;
        border-radius: 3px;
        display: block;
        width: 100%;
        min-height: 40px;
        padding: 8px 8px 25px 8px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        &:hover {
            background-color: #091e4214;
        }
    }

    &__description-textarea {
        display: block;
        margin-top: 15px;
        padding: 10px;
        color: #172b4d;

        &:focus {
            outline: none;
            border-radius: 3px;
            border: 2px solid #0079bf;
        }
    }

    &__description-btn-wrapper {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    &__description-btn {
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 12px;


        &--save {
            background-color: #0079bf;
            color: #fff;

            &:hover {
                background-color: #026aa7;
            }
        }

        &--cancel {

            &:hover {
                background-color: #091e4214;
            }
        }

        &--edit {
            background-color: #eaecf0;

            &:hover {
                background-color: #091e4214;
            }
        }
    }

    &__board-participants-modal {
        position: fixed;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }

    &__aside-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__aside-btn {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        background-color: #eaecf0;
        padding: 8px 12px;
        width: 90%;
        text-align: left;
        margin-bottom: 5px;
        border-radius: 3px;

        &:hover {
            background-color: #e2e4e9;
        }
    }

    &__aside-btn-ico {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat
    }

    &__modal {
        position: fixed;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        width: 300px;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #172b4d;

        h3 {
            text-align: center;
            padding: 5px 0 10px 0;
        }

        p {
            margin-bottom: 5px;
        }

        &--attach {
            p {
                margin-bottom: 10px;
            }

            .attach-btn {
                margin-bottom: 10px;
            }

            &__input-file {
                width: 100%;
                margin-bottom: 10px;
                outline: none;
                padding: 8px 12px;
                border-radius: 3px;
                box-shadow: inset 0 0 0 2px #dfe1e6;

                &:focus {
                    box-shadow: inset 0 0 0 2px #0079bf;
                }
            }
        }

    }

    &__checklist-modal-input {
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        border: 2px solid #0079bf;
        padding: 6px 4px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
        }
    }

    &__modal-close {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background-image: url('../../../public/assets/icon/close.svg');
    }

    &__attachments {
        position: relative;
        margin-top: 30px;
        margin-left: 40px;

        h3 {
            font-size: 14px;
            color: #172b4d;
            margin-bottom: 15px;
            font-weight: 500;
        }
    }

    &__attachment {
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    &__attachment-label {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5e6c84;
        background-color: #eaecf0;
        border-radius: 3px;
        min-height: 70px;
        width: 18%;
        cursor: pointer;

        &::after {
            position: absolute;
            content: url('./icons/link-arrow.svg');
            right: 3px;
            top: 3px;
        }
    }

    &__attachment-info {
        width: 79%;
        display: flex;
        justify-content: space-between;
    }

    &__attachment-link-container {
        width: 80%;

        p {
            color: #5e6c84;
        }
    }

    &__attachment-link {
        color: #172b4d;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
    }

    &__attachment-delete-btn {
        display: block;
        height: fit-content;
    }

    &__activities {
        margin-top: 30px;
    }

    &__marks {
        margin-left: 40px;
        margin-top: 15px;

        h3 {
            font-size: 14px;
            font-weight: 500;
            color: #172b4d;
        }
    }

    &__mark-list {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__mark {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 3px;
        padding: 0 12px;
        max-width: 100%;
        min-width: 48px;
        height: 32px;
        box-sizing: border-box;
    }

    &__mark-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-image: url('../../../public/assets/icon/close-card.svg');
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
            background-color: #e2e4e9;
            border-radius: 50%;
        }
    }
}

.checklist {
    font-size: 14px;
    font-weight: 400;
    color: #172b4d;
    margin-left: 40px;
    margin-top: 30px;

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__title {
        position: relative;
        left: -12px;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 12px;
        background-color: transparent;
        outline: none;

        &:focus {
            width: 80%;
            background-color: #fff;
            padding: 6px 4px;
            border-radius: 3px;
            border: 2px solid #0079bf;
            left: 0;
        }
    }

    &__btn {
        background-color: #eaecf0;
        padding: 8px 12px;
        border-radius: 3px;

        &--delete {
            background-color: transparent;
            background-image: url('./icons/delete.svg');
            background-repeat: no-repeat;
            padding: 0;
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: #e2e4e9;
        }
    }

    &__items {
        margin-top: 15px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 15px;
        }
    }

    &__item-title {
        &--checked {
            text-decoration: line-through;
        }
    }

    &__item-wrapper {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    &__checkbox {
        border-radius: 2px;
        background-color: #fafbfc;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    &__item-add-form-input {
        width: 100%;
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 3px;
        border: 2px solid #0079bf;

        &:focus {
            outline: none;
        }
    }

    &__item-add-form-wrapper {
        display: flex;
        margin-top: 15px;
        gap: 15px;
    }

    &__progress {
        position: relative;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: #e2e4e9;
    }

    &__progress-line {
        top: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 8px;
        border-radius: 4px;
        background-color: #0075ff;
        transition: all 0.4s ease;
    }

    &__progress-percent {
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        left: -38px;
        top: -2px;
    }

}