@import '../../scss/colors.scss';

.board {
  display: flex;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0 0 0;
  font-size: 14px;

  &__aside {
    flex: 0 0 260px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
  }

  &__body {
    flex: 1 1 100%;
    overflow: auto;
    padding: 10px;
    position: relative;
  }

    &__columns {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }

  &__last-column {
    min-width: 287px;
    padding: 0 15px 0 0;
  }

  &__add-column {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.078);
    width: 272px;
    min-height: 36px;
    border-radius: 3px;
  }

  &__column-menu {
    position: absolute;
    top: 82px;
  }
  
  &__card-menu {
    position: absolute;
  }
  &__card-modal-for-click {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0009;
  }

  &__card-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 0;
    overflow-y: scroll;
  }
}
