@import '../../../scss/colors.scss';

.AddCardOrColumnForm {
  background-color: $columnBackgroundColor;
  padding: 5px;
  border-radius: 3px;
  width: 100%;

  &__text {
    flex: 0 0 100%;
    resize: none;
    width: 100%;
    height: 54px;
    overflow: hidden;
    outline: none;
    padding: 4px;
    margin: 0 0 5px 0;
    border-radius: 3px;
  }
  &__footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__add-btn {
    height: 40px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: $buttonShareAndOutlineColor;
    color: white;
    outline: none;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
  &__cancel {
    width: 32px;
    height: 32px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.75;
    }
  }
  &__cross-btn {
    display: block;
    position: relative;
    background-color: $buttonAddCardTextColor;

    &::after,
    &::before {
      content: '';
      width: 25px;
      height: 2px;
      border-radius: 5px;
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(135deg);
    }
  }
}
