@import '../../../scss/colors.scss';

.board-menu {
  position: absolute;
  top: 90px;
  right: 0px;
  width: 339px;
  height: 80vh;
  border: 1px solid #091e4221;
  background-color: #f4f5f7;
  padding: 5px 10px;

  &__header {
    height: 48px;
    border-bottom: 1px solid #091e4221;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
  }
  &__back {
    position: absolute;
    left: 15px;
    top: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  &__back-btn {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid $buttonAddCardTextColor;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
  }

  &__close-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 0px;
    top: 0;
    transition: all 0.3s;
    &:hover {
      opacity: 0.75;
    }
  }
  &__cross-btn {
    display: block;
    position: relative;
    background-color: $buttonAddCardTextColor;

    &::after,
    &::before {
      content: '';
      width: 16px;
      height: 2px;
      border-radius: 5px;
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 12px;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(135deg);
    }
  }
  &__list {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #091e4221;
  }

  &__item {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__actions-title {
    text-align: center;
    font-weight: 500;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 58vh;
    overflow-y: scroll;
  }

  &__icon-bg {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-size: contain;
  }

  &__icon-mark {
    height: 20px;
    width: 20px;
    background-image: url('./mark-icon.png');
    background-size: contain;
  }

  &__btn {
    height: 32px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 12px;
    border-radius: 3px;

    text-align: left;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.change-bg {
  margin: 10px 0 0 0;
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  &__list-item {
    text-align: center;
  }
  &__btn {
    transition: all 0.3s;
    &:hover {
      opacity: 0.75;
    }
  }
  &__foto,
  &__color {
    background-size: cover;
    border-radius: 8px;
    height: 96px;
    width: 152px;
  }
  &__foto {
    background-image: url('../../../../public/assets/img/board/change-bg-image.jpg');
  }
  &__color {
    background-image: url('../../../../public/assets/img/board/change-bg-color.jpg');
  }
  &__text {
  }

  &__colors,
  &__images {
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }

  &__item {
    height: 96px;
    width: 152px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
