@import '../../scss/base/mixins.scss';

.workspace {
  &__header {
    display: flex;
    gap: rem(12);
    align-items: center;
    margin-bottom: rem(15);
  }

  &__title {
    font-size: rem(16);
    color: #172b4d;
    font-weight: 700;
    text-transform: capitalize;
  }

  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}
