@import '../../scss/base/mixins.scss';

.workspace-participants {
  display: flex;
  gap: rem(5);

  &__add-btn {
    width: rem(32);
    height: rem(32);
    font-size: rem(25);
    font-weight: 700;
    background-color: #091e420a;
    color: #99a2b4;
    font-weight: 400;
    border-radius: 50%;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #091e4214;
      }
    }
  }
}
