@import '../../scss/base/mixins.scss';

$boxShadowColor: #091e4226;

.header {
  position: fixed;
  color: #fff;
  padding: rem(9) 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #026aa7;
  box-shadow: $boxShadowColor 0 rem(2) rem(4) 0;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: rem(26);
    &--board {
      max-width: 100%;
    }
  }

  &__avatar {
    width: rem(24);
    height: rem(24);
    flex: 0 0 rem(24);
    font-size: rem(12.5);
  }
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
