.loader {
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 15px;
    border: 3px dashed #3588b9;
    border-radius: 100%;
    animation: loading 2s ease infinite;
    z-index: 10;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}