// Основные цвета
$mainColor: #000;
$columnBackgroundColor: #ebecf0;

// Цвет кнопки "Поделиться", "Добавить список", "Добавить карточку" 
// и рамки заголовка колонки при редактировании
$buttonShareAndOutlineColor: #0079BF;
// Текст внутри кнопки "Добавить карточку" в колонке
$buttonAddCardTextColor: #5e6c84;
// Текст внутри кнопки "Добавить список", заголовок колонки, заголовок карточки
$buttonAddColumnTextColor: #172b4d;
// цвет рамки меню колонки
$borderColumnMenuColor: #091e4221;
// цвет фона меню колонки
$columnMenuBackgroundColor: #ffffff3d;